apiVersion: apps/v1
kind: Deployment
metadata:
  name: next-app
  namespace: aub-clubs
  labels:
    app: next-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: next-app
  template:
    metadata:
      labels:
        app: next-app
    spec:
      containers:
        - name: next-app
          image: hamzarach69/aub-clubs-next:{{ apiNode.version }}
          env:
            - name: PORT
              value: "3000"
          envFrom:
            - secretRef:
                name: next-app-database-url
          ports:
            - containerPort: 3000
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: 3000
          resources:
            limits:
              memory: "512Mi"
            requests:
              memory: "512Mi"
              cpu: "250m"
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
